.bgimage {
  height:100vh;
  background: url('../images/ground.jpg');
  background-size:cover;
  position:relative;
}

.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.img__about{
  width: 100%;

}

